.container{
    margin-bottom: 100px;
}
.new-bg{
    background-image: linear-gradient(90deg, rgb(250, 220, 132), rgb(253, 226, 226));
    border-radius: 10px;
    
    
}
.img-size img{
    width: 30%;
    height: 350px;
    margin: auto;
}
.carousel-item{
    padding: 20px 40px;
}
/*
.df-center{
    display: flex;

    justify-content: center;
    align-content: center;
    align-items: center;
}
*/
.df-center h1{
    font-size: 2rem;
    
}
.dollar{
    color: rgb(235, 37, 37);
}


.cat-1, .cat-2, .cat-3{
    padding: 10px 30px;
    border-radius: 10px;
    color: whitesmoke;
    height: 200px;
    margin-bottom: 20px;
}

.cat-1{
    background-color: orange;
}
.cat-1 img{
    width: 25%;
    margin: auto;
}
.cat-2{
    background-color: purple;
}
.cat-2 img{
    width: 25%;
    margin: auto;
}
.cat-3{
    background-color: rgb(20, 155, 155);
}
.cat-3 img{
    width: 30%;
    height: 70%;
    margin: auto;
}
.card{
    border-radius: 10px;
    box-shadow: 10px 0px 40px lightgray;
    padding: 10px 20px;

}
.card-fix img{
    margin: auto;
    width: 170px;
}
#machine{
    padding-bottom: 50px;
    border-bottom: 1px solid gray;
}
#Backpack{
    padding-bottom: 50px;
    border-bottom: 1px solid gray;
}
.g-4{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.card-footer {

    padding: 1rem 1rem;
    background-color: white;
    border-top: none;
}
#Subscribe{
    background-color: aquamarine;
    border-radius: 10px;
    height: 300px;
}
footer{
    text-align: center;
}